<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Path}}</title>
</head>
<style>
    img{
        height: 150px;
    }

    .message{
        background: #ffc107;
        width: 400px;
    }
</style>
<body>
    {{ range .Message }}
        {{ if .isImg }}
            <img src="/public/img/{{ .Message }}" alt="Cannot load image">
        {{ else }}
            <div class="message">
                <p>{{ .Message }}</p>
            </div>
        {{ end }}
    {{ end }}
<!--    <img src="/public/img/{{.Path}}" alt="Cannot load image">-->
<!--    <img src="/public/img/logo.jpg" alt="Cannot load image">-->
<!--    <div class="message">-->
<!--        <p>some text</p>-->
<!--    </div>-->
</body>
</html>